{% extends "base.html" %}


{% block title %}
訂單查詢｜橘貓代購
{% endblock %}


{% block content %}

<div class="page-header">

    <div>

        <h1>
            🔍 訂單查詢
        </h1>

        <p>
            可使用一個或多個條件精準搜尋訂單
        </p>

    </div>

</div>


<div class="search-card">

    <form
        id="search-form"

        hx-get="/orders/search"

        hx-target="#order-results"

        hx-trigger="submit"

        hx-indicator="#search-loading"
    >

        <div class="search-grid">


            <div class="search-field">

                <label>
                    訂單編號
                </label>

                <input
                    type="number"

                    name="search_order_id"

                    placeholder="輸入訂單編號"

                    autocomplete="off"
                >

            </div>


            <div class="search-field">

                <label>
                    客戶姓名
                </label>

                <input
                    type="text"

                    name="search_customer_name"

                    placeholder="輸入客戶姓名"

                    autocomplete="off"
                >

            </div>


            <div class="search-field">

                <label>
                    物流單號
                </label>

                <input
                    type="text"

                    name="search_tracking_number"

                    placeholder="輸入物流單號"

                    autocomplete="off"
                >

            </div>


            <div class="search-field">

                <label>
                    人民幣金額
                </label>

                <div class="search-prefix">

                    <span>
                        ¥
                    </span>

                    <input
                        type="number"

                        name="search_amount_rmb"

                        placeholder="輸入金額"

                        min="0"

                        step="0.01"
                    >

                </div>

            </div>


            <div class="search-field">

                <label>
                    平台
                </label>

                <input
                    type="text"

                    name="search_platform"

                    placeholder="輸入平台"

                    autocomplete="off"
                >

            </div>


            <div class="search-field">

                <label>
                    下單日期
                </label>

                <input
                    type="date"

                    name="search_order_date"
                >

            </div>


        </div>


        <div class="search-footer">


            <label class="filter-check">

                <input
                    type="checkbox"

                    name="unreturned"

                    value="1"
                >

                只看未運回

            </label>


            <div class="search-actions">

                <a
                    href="/orders"

                    class="clear-filter-button"
                >
                    清除條件
                </a>


                <button
                    type="submit"

                    class="search-button"
                >
                    🔍 查詢
                </button>

            </div>


        </div>


    </form>


    <div
        id="search-loading"

        class="htmx-indicator"
    >
        查詢中...
    </div>


</div>


<div id="order-results">

    <div class="empty-state">

        輸入上方條件開始查詢

    </div>

</div>


{% endblock %}
